<app-header></app-header>
<app-sidebar></app-sidebar>
<br>

<div class="container my3 wrap">
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Tickets</h1>
          </div>

        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-3">


            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Inicio</h3>

                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                  </button>
                </div>
              </div>
              <div class="card-body p-0">
                <ul class="nav nav-pills flex-column">
                  <li class="nav-item active">
                    <a href="#" class="nav-link" routerLink="/tickets">
                      <i class="fas fa-inbox"></i> Tickets
                      <span class="badge bg-primary float-right">12</span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="#" class="nav-link">
                      <i class="far fa-envelope"></i> Abiertos
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="#" class="nav-link">
                      <i class="far fa-file-alt"></i> Pendientes
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="#" class="nav-link">
                      <i class="fas fa-filter"></i> Cerrados
                      <span class="badge bg-warning float-right">65</span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="#" class="nav-link">
                      <i class="far fa-trash-alt"></i> Trash
                    </a>
                  </li>
                </ul>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->

            <!-- /.card -->
          </div>
          <!-- /.col -->
          <div class="col-md-9">
            <div class="card card-primary card-outline">
              <div class="card-header">
                <h3 class="card-title">Crear Ticket</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <div class="form-group">
                  <select ([ngModel])="agenteElegido">

                    <option [ngValue]="null">Selecciona el agente</option>
                    <option *ngFor="let agente of agentes" [ngValue]="agente">
                      {{agente.nombre}}
                    </option>
                  </select>
                </div>
                <div class="form-group">
                  <mat-form-field>
                    <mat-select ([ngModel])="agenteElegido">
                      <mat-option>Selecciona el agente</mat-option>
                      <mat-option *ngFor="let agente of agentes" [ngValue]="agente" [(ngModel)]="agentes.nombre" name="nombre">
                        {{agente.nombre}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>

                </div>
                <div class="form-group">
                  <input class="form-control" placeholder="Prioridad:">
                </div>
                <div class="form-group">
                  <input class="form-control" placeholder="Topic:">
                </div>


                <div class="form-group">

                  <h4>Describe el problema a resolver: </h4>
                  <textarea id="compose-textarea" class="form-control" [(ngModel)]="ticket.descripcion"
                    style="height: 300px">

                    </textarea>
                </div>
                <div class="form-group">
                  <div class="btn btn-primary btn-file">
                    <i class="fa fa-paperclip"></i> Archivo
                    <input type="file" name="attachment">
                  </div>
                  <p class="help-block">Max. 32MB</p>
                </div>

              </div>
              <!-- /.card-body -->
              <div class="card-footer">
                <div class="float-right">
                  <button role="button" class="btn btn-primary" (click)="create()" *ngIf="!ticket.id "><i
                      class="fa fa-solid fa-ticket"></i> Crear</button>

                  <ng-template #elseBlock>
                    <button class="btn btn-primary" role="button" (click)="update()">Editar</button>
                  </ng-template>
                </div>
                <button routerLink="/tickets/" type="reset" class="btn btn-danger"><i class="fas fa-times"></i>
                  Cancelar</button>
              </div>
              <!-- /.card-footer -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
</div>